* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 62.5%;
	color: #ffffff;
	background: linear-gradient(90deg, #00004d 0%, #0f0f75 50%, #00004d 100%);
}

.container {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
}